{% extends 'base.html.twig' %}

{% block title %}Hello DetailBookController!
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('styles/details.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<header>
		<section>

			<nav class="navbar">
				<a href="{{path('app_home')}}">Liste des Livres</a>
				<a href="{{path('app_create')}}">Ajout Livre</a>
			</nav>
		</section>
	</header>

	<h1>Details du livre
		{{book.Titre}}</h1>
	<div class="flex">
		<div class="example-wrapper">

			<p class="text">ISBN :</p>
			<p>{{book.getISBN}}</p><br>
			<p class="text">Titre :</p>
			<p>{{book.Titre}}</p><br>
			<p class="text">Resumé :</p>
			<p>{{book.Resume}}</p><br>
			<p class="text">Description :</p>
			<p>{{book.Description}}</p><br>
			<p class="text">Prix :</p>
			<p>{{book.price}}</p><br>
			<p class="text">Maison d'édition :</p>
			<p>{{book.editor.name}}</p><br>
			<p class="text">Adresse editeur :</p>
			<p>{{book.editor.adress}}</p><br>
		</div>

	</div>
{% endblock %}
