{% extends 'base.html.twig' %}

{% block title %}Liste des livres
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('styles/app.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}

	<header>
		<section>

			<nav class="navbar">
				<a href="{{path('app_home')}}">Liste des Livres</a>
				<a href="{{path('app_create')}}">Ajout Livre</a>
				<a href="{{path('app_register')}}">Register</a>
			</nav>
		</section>
	</header>

	<div class="example-wrapper">
		<h1>Liste des livres</h1>

		{% for book in allBooks %}
			<div>
				<a href="{{path('app_detail_book', {id:book.id})}}">
					<p>ISBN :
						{{ book.ISBN}}</p>
					<p>Title :{{ book.Titre}}</p>
					<p>Resume :
						{{ book.Resume}}</p>
					<p>Description :
						{{ book.Description}}</p>
					<p>Price :
						{{ book.Price}}</p>
					<p>Maison d'edition :
						{{ book.editor.name}}</p>


					<img src="{{ asset('img/book.jpg') }}" alt="">
				</div>
				<hr>
			{% endfor %}
		</div>
	{% endblock %}
