{% extends 'base.html.twig' %}

{% block title %}Ajout Livre
{% endblock %}
{% block stylesheets %}
	{# <link href="{{ asset('styles/app.css') }}" type="text/css" rel="stylesheet"> #}
{% endblock %}
{% block body %}


	<header>
		<section>
			<nav class="navbar">
				<a href="{{path('app_home')}}">Liste des Livres</a>
				<a href="{{path('app_create')}}">Ajout Livre</a>
			</nav>
		</section>
	</header>

	<h1>Formulaire d'intégration de livre</h1>
	<div
		class="flex">

		{# {{form_start(form)}}
												
												{{form_widget(form)}}
												{{form_errors(form)}}
												
												{{form_end(form)}} #}
		<div id="Form">
			<fieldset>
				{{form(form)}}

					{{form_errors(form)}}

				</fieldset>
			</div>


		{% endblock %}
